interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer gt-8_AofuBjEGH2kynxHLdz7g.kmz21yw9y9VEdN5vJ-SXWQ
    method: GET
    uri: https://data.lsst.cloud/api/tap/capabilities
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<vosi:capabilities xmlns:vosi=\"http://www.ivoa.net/xml/VOSICapabilities/v1.0\"
        xmlns:vs=\"http://www.ivoa.net/xml/VODataService/v1.1\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <capability standardID=\"ivo://ivoa.net/std/VOSI#capabilities\">\r\n    <interface
        xsi:type=\"vs:ParamHTTP\" role=\"std\">\r\n      <accessURL use=\"full\">https://data.lsst.cloud/api/tap/capabilities</accessURL>\r\n
        \   </interface>\r\n  </capability>\r\n  <capability standardID=\"ivo://ivoa.net/std/VOSI#availability\">\r\n
        \   <interface xsi:type=\"vs:ParamHTTP\" role=\"std\">\r\n      <accessURL
        use=\"full\">https://data.lsst.cloud/api/tap/availability</accessURL>\r\n
        \   </interface>\r\n  </capability>\r\n  <capability standardID=\"vos://cadc.nrc.ca~vospace/CADC/std/Logging#control-1.0\">\r\n
        \   <interface xsi:type=\"vs:ParamHTTP\" role=\"std\" version=\"1.0\">\r\n
        \     <accessURL use=\"full\">https://data.lsst.cloud/api/tap/logControl</accessURL>\r\n
        \   </interface>\r\n  </capability>\r\n  <capability standardID=\"ivo://ivoa.net/std/VOSI#tables-1.1\">\r\n
        \   <interface xsi:type=\"vs:ParamHTTP\" role=\"std\" version=\"1.1\">\r\n
        \     <accessURL use=\"base\">https://data.lsst.cloud/api/tap/tables</accessURL>\r\n
        \   </interface>\r\n    <interface xsi:type=\"vs:ParamHTTP\" role=\"std\"
        version=\"1.1\">\r\n      <accessURL use=\"base\">https://data.lsst.cloud/api/tap/auth-tables</accessURL>\r\n
        \     <securityMethod standardID=\"http://www.w3.org/Protocols/HTTP/1.0/spec.html#BasicAA\"
        />\r\n    </interface>\r\n    <interface xsi:type=\"vs:ParamHTTP\" role=\"std\"
        version=\"1.1\">\r\n      <accessURL use=\"base\">https://data.lsst.cloud/api/tap/tables</accessURL>\r\n
        \     <securityMethod standardID=\"ivo://ivoa.net/sso#cookie\" />\r\n    </interface>\r\n
        \   <interface xsi:type=\"vs:ParamHTTP\" role=\"std\" version=\"1.1\">\r\n
        \     <accessURL use=\"base\">https://da[...]
- request:
    body: REQUEST=doQuery&LANG=ADQL&QUERY=SELECT+coadd.lsst_tract%2C+coadd.lsst_patch%2C+DISTANCE%28POINT%28%27ICRS+GEOCENTER%27%2C55.745834%2C-32.269167%29%2C+POINT%28%27ICRS+GEOCENTER%27%2Ccoadd.s_ra%2C+coadd.s_dec%29%29+as+distance+FROM+dp02_dc2_catalogs.CoaddPatches+as+coadd+ORDER+BY+distance+LIMIT+1
    headers:
      Authorization:
      - Bearer gt-8_AofuBjEGH2kynxHLdz7g.kmz21yw9y9VEdN5vJ-SXWQ
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.lsst.cloud/api/tap/async
  response:
    body:
      string: ''
    headers:
      Location:
      - https://data.lsst.cloud/api/tap/async/kwnmo0mzutdfxke6
    status:
      code: 303
      message: ''
- request:
    body: null
    headers:
      Authorization:
      - Bearer gt-8_AofuBjEGH2kynxHLdz7g.kmz21yw9y9VEdN5vJ-SXWQ
    method: GET
    uri: https://data.lsst.cloud/api/tap/async/kwnmo0mzutdfxke6
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<uws:job xmlns:uws=\"http://www.ivoa.net/xml/UWS/v1.0\"
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" version=\"1.1\">\r\n  <uws:jobId>kwnmo0mzutdfxke6</uws:jobId>\r\n
        \ <uws:runId />\r\n  <uws:ownerId>cn=cpio</uws:ownerId>\r\n  <uws:phase>PENDING</uws:phase>\r\n
        \ <uws:quote>2024-02-28T09:37:04.644Z</uws:quote>\r\n  <uws:creationTime>2024-02-27T09:37:04.644Z</uws:creationTime>\r\n
        \ <uws:startTime xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:nil=\"true\"
        />\r\n  <uws:endTime xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:nil=\"true\" />\r\n  <uws:executionDuration>14400</uws:executionDuration>\r\n
        \ <uws:destruction>2024-03-05T09:37:04.644Z</uws:destruction>\r\n  <uws:parameters>\r\n
        \   <uws:parameter id=\"LANG\">ADQL</uws:parameter>\r\n    <uws:parameter
        id=\"QUERY\">SELECT coadd.lsst_tract, coadd.lsst_patch, DISTANCE(POINT('ICRS
        GEOCENTER',55.745834,-32.269167), POINT('ICRS GEOCENTER',coadd.s_ra, coadd.s_dec))
        as distance FROM dp02_dc2_catalogs.CoaddPatches as coadd ORDER BY distance
        LIMIT 1</uws:parameter>\r\n    <uws:parameter id=\"REQUEST\">doQuery</uws:parameter>\r\n
        \ </uws:parameters>\r\n  <uws:results />\r\n</uws:job>\r\n"
    headers:
      Content-Type:
      - text/xml
    status:
      code: 200
      message: ''
[...]
- request:
    body: PHASE=RUN
    headers:
      Authorization:
      - Bearer gt-8_AofuBjEGH2kynxHLdz7g.kmz21yw9y9VEdN5vJ-SXWQ
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.lsst.cloud/api/tap/async/kwnmo0mzutdfxke6/phase
  response:
    body:
      string: ''
    headers:
      Location:
      - https://data.lsst.cloud/api/tap/async/kwnmo0mzutdfxke6
    status:
      code: 303
      message: ''
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer gt-8_AofuBjEGH2kynxHLdz7g.kmz21yw9y9VEdN5vJ-SXWQ
    method: GET
    uri: https://data.lsst.cloud/api/tap/async/kwnmo0mzutdfxke6?WAIT=-1
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<uws:job xmlns:uws=\"http://www.ivoa.net/xml/UWS/v1.0\"
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" version=\"1.1\">\r\n  <uws:jobId>kwnmo0mzutdfxke6</uws:jobId>\r\n
        \ <uws:runId />\r\n  <uws:ownerId>cn=cpio</uws:ownerId>\r\n  <uws:phase>COMPLETED</uws:phase>\r\n
        \ <uws:quote>2024-02-28T09:37:04.644Z</uws:quote>\r\n  <uws:creationTime>2024-02-27T09:37:04.644Z</uws:creationTime>\r\n
        \ <uws:startTime>2024-02-27T09:37:04.832Z</uws:startTime>\r\n  <uws:endTime>2024-02-27T09:37:19.797Z</uws:endTime>\r\n
        \ <uws:executionDuration>14400</uws:executionDuration>\r\n  <uws:destruction>2024-03-05T09:37:04.644Z</uws:destruction>\r\n
        \ <uws:parameters>\r\n    <uws:parameter id=\"LANG\">ADQL</uws:parameter>\r\n
        \   <uws:parameter id=\"QUERY\">SELECT coadd.lsst_tract, coadd.lsst_patch,
        DISTANCE(POINT('ICRS GEOCENTER',55.745834,-32.269167), POINT('ICRS GEOCENTER',coadd.s_ra,
        coadd.s_dec)) as distance FROM dp02_dc2_catalogs.CoaddPatches as coadd ORDER
        BY distance LIMIT 1</uws:parameter>\r\n    <uws:parameter id=\"REQUEST\">doQuery</uws:parameter>\r\n
        \ </uws:parameters>\r\n  <uws:results>\r\n    <uws:result id=\"diag\" xlink:href=\"uws:executing:1\"
        />\r\n    <uws:result id=\"diag\" xlink:href=\"jndi:lookup:0\" />\r\n    <uws:result
        id=\"diag\" xlink:href=\"read:tap_schema:11\" />\r\n    <uws:result id=\"diag\"
        xlink:href=\"query:parse:2\" />\r\n    <uws:result id=\"diag\" xlink:href=\"jndi:connect:2834\"
        />\r\n    <uws:result id=\"diag\" xlink:href=\"query:execute:11661\" />\r\n
        \   <uws:result id=\"diag\" xlink:href=\"query:store:456\" />\r\n    <uws:result
        id=\"rowcount\" xlink:href=\"final:1\" />\r\n    <uws:result id=\"result\"
        xlink:href=\"https://tap-files.lsst.codes/result_kwnmo0mzutdfxke6.xml\" />\r\n
        \ </uws:results>\r\n</uws:job>\r\n"
    headers:
      Content-Type:
      - text/xml
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://tap-files.lsst.codes/result_kwnmo0mzutdfxke6.xml
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<VOTABLE xmlns=\"http://www.ivoa.net/xml/VOTable/v1.3\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" version=\"1.4\">\r\n
        \ <RESOURCE type=\"results\">\r\n    <INFO name=\"QUERY_STATUS\" value=\"OK\"
        />\r\n    <INFO name=\"QUERY_TIMESTAMP\" value=\"2024-02-27T09:37:19.569\"
        />\r\n    <INFO name=\"QUERY\" value=\"SELECT coadd.lsst_tract, coadd.lsst_patch,
        DISTANCE(POINT('ICRS GEOCENTER',55.745834,-32.269167), POINT('ICRS GEOCENTER',coadd.s_ra,
        coadd.s_dec)) as distance FROM dp02_dc2_catalogs.CoaddPatches as coadd ORDER
        BY distance LIMIT 1\" />\r\n    <TABLE>\r\n      <FIELD name=\"lsst_tract\"
        datatype=\"long\" ID=\"col_0\" ucd=\"meta.id;obs.field\">\r\n        <DESCRIPTION>ID
        number of the top level, 'tract', within the standard LSST skymap</DESCRIPTION>\r\n
        \     </FIELD>\r\n      <FIELD name=\"lsst_patch\" datatype=\"long\" ID=\"col_1\"
        ucd=\"meta.id.part;obs.field\">\r\n        <DESCRIPTION>ID number of the second
        level, 'patch', within the standard LSST skymap</DESCRIPTION>\r\n      </FIELD>\r\n
        \     <FIELD name=\"distance\" datatype=\"double\" ID=\"col_2\" />\r\n      <DATA>\r\n
        \       <TABLEDATA>\r\n          <TR>\r\n            <TD>4431</TD>\r\n            <TD>17</TD>\r\n
        \           <TD>0.10155415456386967</TD>\r\n          </TR>\r\n        </TABLEDATA>\r\n
        \     </DATA>\r\n    </TABLE>\r\n    <INFO name=\"placeholder\" value=\"ignore\"
        />\r\n  </RESOURCE>\r\n</VOTABLE>\r\n"
    headers:
      content-type:
      - application/x-votable+xml
      etag:
      - '"8f89172f03795adac1d73a2cb0a759bc"'
      last-modified:
      - Tue, 27 Feb 2024 09:37:19 GMT
      x-goog-expiration:
      - Thu, 28 Mar 2024 09:37:19 GMT
      x-goog-generation:
      - '1709026639689890'
      x-goog-hash:
      - crc32c=G2K0jg==
      - md5=j4kXLwN5WtrB1zossKdZvA==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - identity
      x-goog-stored-content-length:
      - '1353'
    status:
      code: 200
      message: OK
version: 1
